import(methods)
import(Biostrings)

export("peakAmpMatrix<-")
export("peakPosMatrix<-")
export("primarySeq<-")
export("primarySeqID<-")
export("secondarySeq<-")
export("secondarySeqID<-")
export("traceMatrix<-")
export(chromatogram)
export(makeBaseCalls)
export(peakAmpMatrix)
export(peakPosMatrix)
export(polyPeakParser)
export(primarySeq)
export(primarySeqID)
export(read.abif)
export(read.scf)
export(readsangerseq)
export(sangerseq)
export(secondarySeq)
export(secondarySeqID)
export(setAllelePhase)
export(traceMatrix)
exportClasses(abif)
exportClasses(sangerseq)
exportClasses(scf)
